<h1>Burgers</h1>

<h2>List of Burgers to Eat</h2>

<ul>
  {{#each burgers}}
  {{#unless this.devoured}}
      <li>
        {{this.burger_name}}
        <form action="/eat/{{this.id}}" method="post">
          <input type="submit" name="subForm" value="Eat this burger">
        </form>
      </li>
  {{/unless}}
  {{/each}}
</ul>

<h2>Eat a burger!</h2>

<form action="/add" method="post">
  <input type="text" name="burger_name" placeholder="Burger Name">
  <input type="submit" name="subForm" value="Add a burger">
</form>

<h2>List of Burgers Eaten</h2>
<ul>
  {{#each burgers}}
  {{#if this.devoured}}
      <li>
        {{this.burger_name}}
      </li>
  {{/if}}
  {{/each}}
</ul>
